# Environment variables
.env

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
venv/
ENV/
env/

# IDE / Editor files
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db
